/* *{
    margin: 0px;
    padding: 0px;

} */






*{
    margin-left: 0px;
    margin-right: 0px;
    
}





@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


                



.main-font {
    
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    margin-top: 0px;
    margin-bottom: 0px;

}


#span1{
    font-family: 'miama', sans-serif;
    font-weight: 400;
    font-size: 45px;
    

    
}











.title{
    font-size: 36px;
    font-weight: 600;
}


.margin{
    margin-left: 15%;
    margin-right: 15%;
}






header{
    background: linear-gradient(rgb(0, 0, 0),rgb(39, 39, 39),rgb(0, 0, 0));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-bottom:67px;
    
    
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px ;
}

.nav-title{
    
    color:rgb(230, 83, 60) ;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul-menu{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 20px;
    
    
}
.nav-li-menu{
    list-style: none;
    padding: 5px 10px;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 18px;
    background-color: rgb(230, 83, 60) ;
    color: white;
    font-weight: bold;
}

.nav-a-menu{
    text-decoration: none;
    color: white;
}


#check{
    display: none;
}

#check-button:checked ~ .nav-ul-menu{
    left: 0%;
}

#check-button{
    display: none ;
    font-size: 20px;
    float: left;
    margin-left: 10%;
}












.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
}

.banner-content{
    margin-right: 100px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
}



.banner-desc{
    margin-bottom: 40px;
    color: #989898;
}




.banner-buttons{
    display: flex;
    gap: 14px;
}

.banner-btn1{
    margin: 0px 5px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    border: none;
    color: white;
}



.banner-btn2{
    margin: 0px 5px;
    padding: 12px 25px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0) ;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(74, 74, 74);
    color: rgb(255, 255, 255);
}

.banner-image{
    width:270px;
   
}


.banner-box{

    text-align: center;
    padding: 15px 10px;


    
}

#bannerbox1{
    width: 140px;
    height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);

    margin-left: 160px;
    margin-top: -380px ;
}

#bannerbox2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    padding: 0px 5px;
    width: 150px;
    height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.149);

    margin-left: -100px;
    margin-top: 140px;
}


.banner-box-number1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}

.banner-box-desc1{
    padding: 0px;
    margin: 10px 0px;
    font-size: 14px;
    color: #989898;
}

.banner-box-desc{
    margin-top: 5px;
    margin-bottom: 0px ;
    font-size: 14px;
    color: #989898;

}






.banner-ball{
    width: 30px;
    height: 30px;
    background-color:rgb(230, 83, 60) ;
    border-radius: 50%;
}

.banner-box-number2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}















main{
    background-color: rgb(19, 19, 19);
    color: white;
    margin-top: 0px;
    padding-bottom: 40px;

}



.habit{
    padding-top: 20px;
    margin-bottom: ;

}


.habit-title-desc{
    text-align: center;
   
    margin-bottom: 100px;
}


.habit-desc{
    color: #989898;
}


.habit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.habit-box-container{
    text-align: center;
}

.habit-box-image{
    width: 200px;
    height: 170px;
    border-radius: 60%;
}

.habit-box-title{
    font-size: 28px;
    margin: 30px 0px 0px 0px;
}

.habit-box-desc{
    font-size: 15px;
    color: #989898;
    
}























.run{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(57, 57, 57);
    border-radius: 8px;
    padding: 0px;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.run-content{
    width: 140%;
    margin-left: 30px;
    margin-right: 0px;
    padding-right: 80px 20px 80px 20px ;

}

.run-title{
    margin: 10px 0px;
    font-size: 45px;
}
.run-desc{
    color: #989898;
    font-size: 16px;
    margin-right: 150px;
}

.run-images{
    max-width: fit-content;
    margin-right: 20px;
}

.run-image{
    width: 85%;
    height: fit-content;
    border-radius: 8px;
    padding: 0px 5px 0px 0px;
    margin: 40px;
    
    
}

.run-button{
    padding: 12px 45px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    color: white;
    border: none;
    margin: 10px 0px 10px 0px;
}






















.healthy-bg{
    background:rgb(23, 23, 23);
}


.healthy{
    margin: 50px 15%;
    padding: 50px 0px;
    
}

.healthy1{
    display: flex;
    text-align: center;
    margin: 40px 0px;
    align-items: center;
    
}

.meal-image{
    width: 50%;
    border-radius: 8px;
    box-shadow: 1px 2px 1px 2px #562800,2px 1px 2px 2px rgb(230, 83, 60) ;
    
}

.healthy-title-main{
    margin: 20px 20%;
    font-size: 35px;
    
}
.healthy-desc-main{
    margin: 20px 20%;
    font-size: 18px;
    color: #989898;
}

#healthy{
    color:rgb(230, 83, 60) ;
}

.healthy-title-main:hover{
    text-shadow:1px 1px 1px rgb(255, 202, 194) ;
    margin: 20px 20%;
    
}
.healthy-desc-main:hover{
    text-shadow:1px 1px 1px rgb(255, 255, 255) ;
    margin: 20px 20%;
}


.healthy2{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 30px;
    text-align: center;
    
}


.healthy-box{
    background-color: rgb(54, 54, 54);
    padding: 0px 0px 20px 0px;
    color: black;
    border-radius: 8px;
    color: white;
}
.healthy-box:hover{
    box-shadow: 1px 2px 1px 2px rgb(88, 88, 88),2px 1px 2px 2px rgb(115, 115, 115);
    background-color: rgb(200, 200, 200);
    padding: 0px 0px 20px 0px;
    color: black;
    border-radius: 8px;
}

.healthy-image{
    width: 100%;
    height: 240px;
    border-radius: 8px;
}

.healthy-title{
    padding: 0px 30px;
    margin: 20px 0px 0px 0px;
    font-size: 25px;
}

.healthy-desc{
    padding: 0px 30px 0px 30px;
    font-size: 14px;
    
}
.healthy-desc:hover{
    padding: 0px 30px 0px 30px;
   
}




















.before-bmi-title{
    margin-left: 20%;
    padding:30px;
    

}
.before-title{
    text-align: left  ;
    
}
.before-desc{
    color: #989898;
}




.bg{
    background-color: rgb(57, 57, 57);
    
}
.bmi{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    gap: 20px;
    padding: 30px 0px 60px 0px;
    margin: 0px 15% ;
}

.bmi-chart{
    margin-left: 10%;
}

.chart-main-title,.calculator-input-title{
    font-size: 29px;
}

.chart-main-title{
    margin: 30px 0px 30px 0px ;
    text-align: left;
}
.bmi-table{
    border: 2px solid gray;
    border-collapse: collapse;
    width: 300px;
    height: 200px;
}

td,th{
    border:2px solid rgb(94, 94, 94);
    padding: 5px 10px;
    
}
tr{
    text-align:center;
    font-size: 20px;
    padding: 10px 15px;
}
td{
    font-size: 14px;
    color: #989898;
}
th{
    font-size: 16px;
}










.calculator-input{
    margin-right: 50px;
}


.input{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    
}


.input-content{
    width: 90%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    border: 0.1px solid gray;
    border: none;
    
    
}
.input-content1{
    width: 93%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: #989898;
    padding-left: 20px;
    padding-right: 20px;

}
.input-content2{

    width: 97%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: #989898;
    padding-left: 20px;
    padding-right: 20px;
    
}

::placeholder{
    padding-left: 20px;
    color: #989898;
}

.calculator-button{
    padding: 10px 45px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    color: white;
    margin-top: 15px;
    border: none;
    margin-left: 0px;
}














.before-team{
    margin: 30px 15%;
    text-align: left;
}

.before-title{
    margin: 0px;
}

.before-desc{
    color: #989898;
}




.team{
    margin: 40px 15%;
    padding: 40px 0px;
    padding-left: 50px;
    border-radius: 8px;
    background-color: rgb(57, 57, 57);
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    gap: 0px;
}

.team-card{
    position: relative;
}

.team-image{
    width: 280px;
    height: 260px;
    border-radius: 8px;
}

.card-text{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000,
    2px 2px 2px #000000   ;
    transform:translatey(-60px);
    margin: 0px;
}

.card-title{
    margin: 0px 10px;


}

.card-sub-title{
    margin: 0px 10px;
    color: #989898;
}


















footer{
    color: white;
    background-color: rgb(57, 57, 57);
}



.footer{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}

.footer-div{
    margin: 20px 10%;
}
.footer-div1{
    margin: 0px 10%;
}


.footer-title{
    margin: 30px;
    margin-bottom: 0px;
    font-size: 30px;
}

.footer-title1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-bottom: 0px;
    font-size: 60px;
    color: rgb(230, 83, 60) ;
}

.footer-li{
    list-style: none;
    margin: 10px 0px;

}
.footer-desc{
    text-decoration: none;
    color: #989898;
    font-size: 14px;
    font-weight: 500;

}

.footer-desc1{
    text-decoration: none;
    color: #989898;
    font-size: 14px;
    font-weight: 500;

}




.hr{
    border-top: 1px solid snow;
    margin: 0px 15%;
}




.copyright{
    text-align: center;
    color: #989898;
    font-size: 14px;
    font-weight: 500;
    padding: 30px 0px 20px 0px;
    margin: 0px 0%;
}




































@media screen and (max-width : 576px){



    #check-button{
        display: block;
        margin-right: 15%;
        
    }

 
    
    .nav-li-menu{
        display: none;
    }




    .nav-menu{
        align-items:initial;
        
        margin-top: 3px;
    }

    
    

    .healthy1,
    .bmi,
    .run,
    .habit-box,
    .banner{
        flex-direction: column;
    }
    

    .banner{
        justify-content: center;
        margin:0px;
        padding-top: 0px;
        padding-bottom: 20px;
        
    }
    
    .banner-content{
        margin-right: 0px;
        

    }

    .banner-title{
        margin-top: 10px;
        padding-top: 0px;
        font-size: 40px;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    .banner-desc{
        margin-left: 10%;
        margin-right: 10%;
    }


    .banner-buttons{
        gap: 15px;
        margin-left: 60px;

    }
 

    .span-club{
        display: none;
    }

    .banner-btn1{
        padding: 12px 30px;
        width: 100%;
        margin-left: 0px;
        

    }

    .banner-btn2{
        padding: 12px 26px;
        width: 100%;
        
        margin-right: 0px;
        margin-left: px;

    }
    

    #bannerbox1{
        margin-left:55% ;
        margin-top: -100% ;
    }

    

    #bannerbox2{
        margin-left: 5%;
        margin-top: 40%;
        
    }


    .banner-image{
        width: 70%;
        margin-left: 15%;
        
        
    }

    .banner-image-others{
        width: 100%;
        
    }



    .habit-box-image{
        width: 280px;
        height: 230px;
        border-radius: 60%;
    }





    .run{
        margin: 60px 20px;
        gap: 50px;
        padding: 0px;
    }

    .run-content{
        width: 94%;
    
        padding: 20px 5%;
    }

    .run-desc{
        margin-right: 60px;
    }
    .run-image{
        width: 99%;
        
        padding: 0px;
        
    }




    .healthy{
        margin: 0px;
    }

    .meal-image{
        width: 80%;
    }

    .healthy-title-main{
        margin: 40px 10%;
    }

    .healthy-desc-main{
        margin: 0px 10%;
    }
    .healthy-title-main:hover{
        margin: 40px 10%;
    }

    .healthy-desc-main:hover{
        margin: 0px 10%;
    }

    .healthy2{
        margin: 20px 10%;
    }
    .healthy-box{
        
    }








    table{
        padding-right: 0px;
    }

    .bmi{
        margin: 0px 0%;
    }
    .bmi-chart{
        margin: 0px;
        padding: 0px;
        width: 70%;
    } 

    .chart-title{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }



    .calculator-input{
        margin: 15px 10%;
    }


        
    .input-content2{
        width: 97%;
        height: 40px;
    }
    .input-content1{
        width: 93%;
        height: 40px;
    }


    .team{
        margin: 10px 10%;
        
        padding: 0px;
    }

    .team-image{
        width: 90%;
        height: 260px;
        margin: 10px 10px 0px 10px;
        padding: 0px;

    }

    .card-text{
        
        transform:translatey(-75px) translateX(10px);
    }



    
    .footer-div1{
        margin-left: 18%;
    }




    .healthy2,
    .nav-ul-menu,
    .footer,
    .team{
        grid-template-columns: repeat(1,1fr);
    }


  



}