/* *{
    margin: 0px;
    padding: 0px;

} */











@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.main-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}





{
    margin: 0px;

}




.title{
    font-size: 36px;
    font-weight: 600;
}


.margin{
    margin-left: 15%;
    margin-right: 15%;
}






header{
    background: linear-gradient(rgb(0, 0, 0),rgb(58, 58, 58),rgb(0, 0, 0));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-bottom:67px;
    
    
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px ;
}

.nav-title{
    
    color:rgb(230, 83, 60) ;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul-menu{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 20px;
    
    
}
.nav-li-menu{
    list-style: none;
    padding: 5px 10px;

}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 18px;
    background-color: rgb(230, 83, 60) ;
    color: white;
}

.nav-a-menu{
    text-decoration: none;
    color: white;
}


#check{
    display: none;
}

#check-button:checked ~ .nav-ul-menu{
    left: 0%;
}

#check-button{
    display: none ;
    font-size: 20px;
    float: left;
    margin-left: 10%;
}












.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 80px;
}

.banner-content{
    margin-right: 100px;
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
}
.span1{
    font-family:'Aguafina Script', cursive;
    color:rgb(255, 34, 0) ;
}




.banner-buttons{
    display: flex;
    gap: 14px;
}

.banner-btn1{
    margin: 0px 5px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    border: none;
    color: white;
}
.banner-btn2{
    margin: 0px 5px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0) ;
    backdrop-filter: blur(20px);
    border: none;
    color: rgb(255, 255, 255);
}

.banner-image{
    width:270px;
   
}


.banner-box{

    text-align: center;
    padding: 15px 10px;


    
}

#bannerbox1{
    width: 140px;
    height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);

    margin-left: 160px;
    margin-top: -380px ;
}

#bannerbox2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    padding: 0px 5px;
    width: 150px;
    height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);

    margin-left: -100px;
    margin-top: 140px;
}


.banner-box-number1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}

.banner-box-desc{
    margin-top: 5px;
    margin-bottom: 0px ;
    font-size: 14px;

}






.banner-ball{
    width: 30px;
    height: 30px;
    background-color:rgb(230, 83, 60) ;
    border-radius: 50%;
}

.banner-box-number2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: 900;
}















main{
    background-color: rgb(19, 19, 19);
    color: white;
    margin-top: 0px;
    padding-bottom: 40px;

}



.habit{
    padding-top: 20px;
    margin-bottom: ;

}


.habit-title-desc{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;
}

.habit-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.habit-box-container{
    text-align: center;
}

.habit-box-image{
    width: 200px;
    height: 170px;
    border-radius: 60%;
}























.run{
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 57, 57);
    border-radius: 8px;
    padding: 20px;
    gap: 200px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.run-content{
    margin-left: 20px;
    margin-right: 30px;

}
.run-image{
    width: 360px;
    border-radius: 8px;
    
}

.run-button{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    color: white;
}




















.before-bmi-title{
    margin-left: 20%;
    margin-bottom: 50px;

}
.before-title{
    
}
.before-desc{

}




.bg{
    background-color: rgb(57, 57, 57);
}
.bmi{
    display: flex;
    justify-content: space-between;
    align-items:baseline;

    padding: 30px 0px;
    margin: 0px 15% ;
}

.bmi-chart{

}

.chart-main-title,.calculator-input-title{
    font-size: 29px;
}
.bmi-table{
    border: 2px solid gray;
    border-collapse: collapse;
    width: 300px;
    height: 200px;
}

td,th{
    border:2px solid rgb(94, 94, 94);
    padding: 5px 10px;
    
}
tr{
    text-align:center;
    font-size: 20px;
    padding: 10px 15px;
}
td{
    font-size: 14px;
}
th{
    font-size: 16px;
}










.calculator-input{
    margin-right: 50px;
}


.input{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    
}


.input-content{
    width: 90%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    border: 0.1px solid gray;
    
    
}
.input-content1{
    width: 92%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;

}
.input-content2{

    width: 96%;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    
}

::placeholder{
    padding-left: 20px;
    color: rgb(255, 255, 255);
}

.calculator-button{
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(230, 83, 60) ;
    color: white;
    margin-top: 15px;
}














.before-team{
    margin: 30px 15%;
    text-align: center;
}





.team{
    margin: 40px 15%;
    padding: 40px 0px;
    padding-left: 50px;
    border-radius: 8px;
    background-color: rgb(57, 57, 57);
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    gap: 0px;
}

.team-card{
    position: relative;
}

.team-image{
    width: 280px;
    height: 260px;
    border-radius: 8px;
}

.card-text{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px #000000,
    2px 2px 2px #000000   ;
    transform:translatey(-50px);
    margin: 0px;
}

.card-title{
    margin: 0px 10px;


}

.card-sub-title{
    margin: 0px 10px;
}


















footer{
    color: white;
    background-color: rgb(57, 57, 57);
}



.footer{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}

.footer-div{
    margin: 20px 10%;
}


.footer-title{
    margin: 30px;
    margin-bottom: 0px;
    font-size: 30px;
}

.footer-title1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-bottom: 0px;
    font-size: 60px;
    color: rgb(230, 83, 60) ;
}

.footer-li{
    list-style: none;
    margin: 10px 0px;

}
.footer-desc{
    text-decoration: none;
    color: rgb(213, 213, 213);
    font-size: 14px;
    font-weight: 500;

}

.footer-desc1{
    text-decoration: none;
    color: rgb(213, 213, 213);
    font-size: 12px;
    font-weight: 500;

}







.copyright{
    text-align: center;
    color: rgb(213, 213, 213);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}




































@media screen and (max-width : 576px){


/* 
    *{
        border: 2px solid red;
    } */


    #check-button{
        display: block;
        margin-right: 15%;
        
    }

 
    
    .nav-li-menu{
        display: none;
    }




    .nav-menu{
        align-items:initial;
        
        margin-top: 3px;
    }

    
    

    
    .bmi,
    .run,
    .habit-box,
    .banner{
        flex-direction: column;
    }
    

    .banner{
        justify-content: center;
        margin-top: 0px;
        padding-top: 0px;
        
    }
    
    .banner-content{
        margin-right: 0px;
        

    }

    .banner-title{
        margin-top: 10px;
        padding-top: 0px;
        font-size: 40px;
        
    }


    .banner-buttons{
        gap: 50px;

    }
 
    .banner-btn1{
        padding: 10px 30px;
        width: 130%;

    }

    .banner-btn2{
        padding: 10px 30px;
        width: 100%;

    }
    

    #bannerbox1{
        margin-left:55% ;
        margin-top: -140% ;
    }
    #bannerbox2{
        margin-left: -10%;
        margin-top: ;
        
    }


    .banner-image{
        width: 100%;
    }

    .banner-image-others{
        width: 100%;
    }






    .run{
        gap: 50px;
    }

    .run-content{
        margin: 0px;
        padding: 0px;
    }
    .run-image{
        width: 100%;
    }
    table{
        padding-right: 0px;
    }

    .bmi{
        margin: 0px 0%;
    }
    .bmi-chart{
        margin: 0px;
        padding: 0px;
        width: 70%;
    } 

    .chart-title{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }



    .calculator-input{
        margin: 15px 10%;
    }


    .input-content2{
        width: 97%;
        height: 40px;
    }
    .input-content1{
        width: 93%;
        height: 40px;
    }





    .nav-ul-menu,
    .footer,
    .team{
        grid-template-columns: repeat(1,1fr);
    }

    .team{
        margin: 10px 10%;
        padding: 0px;
    }

    .team-image{
        width: 90%;
        height: 200px;
        margin: 20px 10px 20px 10px;
        padding: 0px;

    }

    .footer-div1{
        margin-left: 18%;
    }


}